<style type="text/css">
	body {
		margin: 0;
	}
	h1 {
		background: #01BCC6;
		color: #fff;
		display: inline-block;
		width: 100%;
		padding: 1.2em 0;
		font-family: Helvetica, sans-serif;
		text-align: center;
	}
	li {
		list-style-type: none;
	}
</style>

<h1>Новый заказ на звонок с сайта</h1><br>
<ul>
	<li>
		<h2><%=Name%></h2>
	</li>
	<li>	
		<h2><%=Phone%></h2>
	</li>
	<li>
		<h2><%=Time%></h2>
	</li>
</ul>