<form method="POST" action="register/create">
	<input type="hidden" name="_csrf" value="<%- _csrf%>"/>
	<label for="username" placeholder="User">Username</label>
	<input type="text" id="username" name="username"><br>
	<label for="pass">Password</label>
	<input type="password" id="pass" placeholder="******" name="password"><br>
	<input type="submit" value="Submit">
</form>