<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<div class="first-page">
  <div class="first-page-inner container">
    <div class="row first-page-text">
      <h1>Мы работаем</h1>
      <br>
      <h3>За нас говорят наши<br><b>покупатели</b></h3>
    </div>
    <div class="row first-page-button">
      <a href="" class="button el-transition">Заказать</a>
    </div>
  </div>
</div>


<div class="second-page" id="about">
  <article class="container">
    <div class="col-4">
      <h2>О нас</h2>
      <p>Магазин «Двери» 15 лет на рынке дверей, является лидирующей фирмой в своей области. За пятнадцать лет мы много достигли, а именно широкий ассортимент дверей, профессиональная команда мастеров, мы в ответе за свою работу, поэтому вы доверяете нам. 
      В нашем каталоге вы можете подобрать межкомнатные и входные двери: от глухих с фрезеровкой до полотен со стеклом, мы стараемся быть актуальными и удивлять вас новинками. Широкий выбор фурнитуры: ручки, замковые механизмы, петли. 
      Металлические двери от простых до элитных, стандартные и нестандартные размеры, индивидуальный дизайн от производителя. 
      А также возможность сделать металлопластиковую и алюминиевую конструкцию любой сложности: окна, двери, балконы, витражи. 
      Делаем работу от «А» до «Я» в своей области.</p>
      <span>
        +7 (981) 073-07-31
        +7 (918) 463-79-77
      </span>
    </div>    
  </article>
</div>


<div class="third-page article-page page-light-text" id="catalog">
  <article class="container">
    <div class="row">
      <div class="third-page-triangle">
      </div>
    </div>
    <div class="row">

      <div class="row third-page-catalog-first-row third-page-catalog-rows article-block-header">
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
          <img src="images/icons/outsideDoors.png" alt="outside Doors">
          <h2>Входные<br>двери</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
          <img src="images/icons/inhomeDoors.png" alt="outside Doors">
          <h2>Межкомнатные<br>двери</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
          <img src="images/icons/tools.png" alt="outside Doors">
          <h2>Аксессуары</h2>
        </div>
      </div>

      <div class="row third-page-catalog-other-rows third-page-catalog-rows">
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
          <img src="images/enterDoors.jpg" alt="1">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
          <img src="images/inhomeDoors.jpg" alt="1">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
          <img src="images/furnitureDoors.jpg" alt="1">
        </div>
      </div>

      <div class="row third-page-catalog-other-rows third-page-catalog-rows">
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
          <a href="/catalog/1" class="el-transition">Открыть каталог</a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
          <a href="/catalog/2" class="el-transition">Открыть каталог</a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
          <a href="/catalog/0" class="el-transition">Открыть каталог</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="row third-page-catalog-rows third-page-catalog-first-row third-page-catalog-small">
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
          <img src="images/icons/windows.png" alt="window">
          <div> 
            <h2>Окна</h2><br>
            <button class="el-transition button-a" name="info-extra" data-index="windows">Подробнее</button>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
          <img src="images/icons/rollt.png" alt="window">
          <div>
            <h2>Роллеты</h2><br>
            <button class="el-transition button-a" name="info-extra" data-index="rollete">Подробнее</button>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
          <img src="images/icons/jalouze.png" alt="window">
          <div>
            <h2>Жалюзи</h2><br>
            <button class="el-transition button-a" name="info-extra" data-index="jalouze">Подробнее</button>
          </div>
        </div>
      </div>
    </div>

  </article>
</div>


<div class="fourth-page article-page" id="more">
  <article class="container">
    <div class="row color-text">

      <div class="fourth-page-profit-block col-md-4 col-sm-6 col-xs-6 col-lg-4">
        <div class="row article-block-header">
          <img src="images/icons/profits1.png" alt="profit">
          <h2>Экономия времени</h2>
        </div>
        <div class="row">
          <p>Мы найдём то, что <b>нужно именно Вам</b></p>
        </div>
      </div>

      <div class="fourth-page-profit-block col-md-4 col-sm-6 col-xs-6 col-lg-4">
        <div class="row article-block-header">
          <img src="images/icons/profits2.png" alt="profit">
          <h2>Гарантия качества</h2>
        </div>
        <div class="row">
          <p>Мы несем <b>ответственность</b> за нашу работу</p>
        </div>
      </div>
      
      <div class="clearfix visible-sm-block visible-xs-block"></div>

      <div class="fourth-page-profit-block col-md-4 col-sm-6 col-xs-6 col-lg-4">
        <div class="row article-block-header">
          <img src="images/icons/profits6.png" alt="profit">
          <h2>От простых до<br>элитных</h2>
        </div>
        <div class="row">
          <p><b>Огромный ассортимент</b> металлических и межкомнатных дверей, найдутся варианты для различных решений интерьера</p>
        </div>
      </div>

      <div class="clearfix visible-md-block visible-lg-block"></div>

      <div class="fourth-page-profit-block col-md-4 col-sm-6 col-xs-6 col-lg-4">
        <div class="row article-block-header">
          <img src="images/icons/profits3.png" alt="profit">
          <h2>Более 15 лет</h2>
        </div>
        <div class="row">
          <p>На рынке дверей, <b>наш опыт</b> является нашей гарантией качества</p>
        </div>
      </div>

      <div class="clearfix visible-sm-block visible-xs-block"></div>

      <div class="fourth-page-profit-block col-md-4 col-sm-6 col-xs-6 col-lg-4">
        <div class="row article-block-header">
          <img src="images/icons/profits4.png" alt="profit">
          <h2>Бесплатно</h2>
        </div>
        <div class="row">
          <p>Наши мастера сделают <b>замер</b> и дадут <br><b>консультацию</b> по любой ситуации</p>
        </div>
      </div>

      <div class="fourth-page-profit-block col-md-4 col-sm-6 col-xs-6 col-lg-4">
        <div class="row article-block-header">
          <img src="images/icons/profits5.png" alt="profit">
          <h2>Мы открыты для Вас</h2>
        </div>
        <div class="row">
          <p>Мы работаем <b>без перерывов и выходных</b></p>
        </div>
      </div>

    </div>

    <div class="fourth-page-text">
      <h2>Кроме того</h2>
      <p>Возможность сделать <b>Дверь Мечты</b> по собственному дизайну</p>
      <p>Мы делаем металлопластиковые и алюминиевые конструкции <b>любой сложности</b>, а так же окна, двери и витражи</p>
      <p>Мы прежоставляем <b>широкий спектр</b> услуг по работе с <b>окнами и дверьми</b>, например: сборка, монтаж/демонтаж, установка наличника или доборной доски, реставрация деревянных дверей, делаем откосы, расширение и т.д.</p>
    </div>

  </article>
</div>


<div class="fifth-page page-light-text article-page" id="distributers">
  <article class="container"></article>
</div>


<div class="sixth-page article-page" id="offer">
  <article class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4">
        <h2>Закажите звонок</h2>
        <p>Наш специалист свяжется с Вами в удобное для Вас время</p>
     	<form class="wrap-el" method="POST" action="/sendmail">
  			<label for="sixth-page-form-name">Ваше имя</label>
  			<input type="text" name="name" placeholder="Имя" id="form-name">
  			<label for="sixth-page-form-phone">Номер телефона</label>
  			<input type="text" name="phone" placeholder="7 000 000 00 00" id="form-phone">
  			<label for="sixth-page-form-time">Когда позвонить</label>
  			<input type="text" name="time" placeholder="В ближайшее время" id="form-time">
 			<input type="submit" class="button el-transition" id="form-button" value="Подтвердить">
		</form>
      </div>

      <div class="col-md-2 col-lg-2"></div>
  
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 color-text justify-content-center align-center">
        <div class="row">
          <div class="row article-block-header">
            <img src="images/icons/offer1.png" alt="heart">
            <h2>Бесплатно</h2>
          </div>
          <div class="row">
            <p>Мы не берем плату за консультацию</p>
          </div>
        </div>
        <div class="row">
          <div class="row article-block-header">
            <img src="images/icons/offer2.png" alt="heart">
            <h2>Быстро</h2>
          </div>
          <div class="row">
            <p>
              Мы нацелены на Ваше удобство и стараемся ответить в кратчайшие сроки
            </p>  
          </div>
        </div>  
      </div>

    </div>
  </article>
</div>


<footer class="article-page" id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
        <div class="row">
          <div class="logo">
            <h1>Двери</h1>
            <h4>г.Белореченск</h4>
            <h4>ул.Интернациональная 85</h4>
          </div>
        </div>
        <div class="row">
          <span>
            +7 (981) 073-07-31
            +7 (918) 463-79-77
          </span>
        </div>
        <div class="row">
          <span class="wrap-el">
            Режим работы:
            пн-пт 8:00-18:00
            сб-вс 9:00-17:00
            без перерывов и выходных!
          </span>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
        <div class="row footer-webs-row">
          <ul class="webs">
            <li>
              <a href="">
                <img src="images/icons/vk.png" alt="vk">
              </a>
            </li>
            <li>
              <a href="https://instagram.com/dverint85?igshid=7pqqhdb1ba7">
                <img src="images/icons/insta.png" alt="insta">
              </a>
            </li>
            <li>
              <div name="whats-icon">
                <img src="images/icons/whatsapp.png" alt="whatsapp">
              </div>
              <div name="whats-hidden" class="whats-hidden">
                <a href="https://wa.me/79182142013">+7 (918) 214-20-13 (Двери)</a><br>
                <a href="https://wa.me/79184637977">+7 (918) 463-79-77 (Окна)</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="row">
          <iframe src="https://yandex.ru/map-widget/v1/-/CGSRvA8I" allowfullscreen="true"></iframe>
        </div>
        <div class="row">
          <a href="">Карта сайта</a>
        </div>
      </div>
    </div>
  </div>
</footer>
